@import "./colorVariables.module.scss";
$slider-padding:4%;
.slider{
  width: 100%;
  white-space: nowrap;
  position: relative;
  overflow: visible;
  margin-bottom: 2.5rem;
  a{
    text-decoration: none;
    color: $font-color;
  }
  .title{
    color: $font-color;
    font-size: 1.2vw;
    margin: 0.45rem 4vw;
    // line-height: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    div{
      margin: 0 0.35rem;
      a{
        text-decoration: none;
        color: $font-color;
        font-size: 0.875rem;
      }
    }
  }
  .dotsContainer{
      display: flex;
      position: absolute;
      top: -25px;
      right:10px;
      .dots{
        text-align: center;
        height: 20px;
        width: 20px;
        margin: 0 3px;
        display:flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        &::before{
          content: "";
          height: 5px;
          width: 20px;
          background: $carousel-btn-bg-color;
          transition: background 0.3s ease;
        }
      }
    }
  .carouselBtns{
    margin: .25rem 0;
    display: flex;
    .next{
      right: 0;
    }
    // .prev{
    //   left: 0;
    // }
    .prev,.next{
      display: flex;
      position: absolute;
      width: $slider-padding;
      top: 0;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      font-size: 40px;
      color: $font-color;
      cursor: pointer;
      z-index: 500;
      transition: .2s ease all;
      background: $prev-next-btn-color;
    }
  }
  .Carousel {
    display: flex;
    justify-content: center;
    .list{
    display: flex;
    width: calc(100% - 2 * $slider-padding);
    overflow: visible;
    // transform: translateX(-100%);
    &::-webkit-scrollbar{
      display: none;
    }
    
  }
}
}


