@import "./colorVariables.module.scss";
.active{
    color: $red-hover-color;
}
.Nav{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 1rem 4.25vw;
    position: fixed;
    top: 0;
    line-height: 1.2;
    text-align: center;
    align-items: center;
    z-index: 1;
    background-image: $nav-bg-color ;
    .logo{
        display: flex;
        justify-content: space-between;
        text-align: center;
        align-items: center;
        .navOptions{
            padding: 0 20px;
            .navItem.active{
                color: $red-hover-color;
            }
            .navItem{
                font-size: 1.125rem;
                font-weight: 400;
                padding: 0 15px;
                text-decoration: none;
                color:$font-color;
                transition: color 0.2s ease-in-out;
                &:hover{
                    color: $white-color;
                }
            }
        }
    }
    .logo img, .userLogo img{
        height: 40px;
        width: auto;
        background: transparent;
    }

}