$white-color:#f2f2f2;
$font-color:#e5e5e5;
$nav-hover:#b3b3b3;
$carousel-btn-bg-color:#d4d4d4;
$icons-hover:hsla(0,0%,94.9%,.7);
$movieInfo-bg-color:#000000c2;
$bg-color:#141414;
$prev-next-btn-color:rgba(0,0,0,50%);
$nav-bg-color:linear-gradient(180deg,rgba(0,0,0,0.7) 10%, transparent);
$black-color:#181818;
$black-2-color:#141214;
$landing-bg-color:rgba(20,20,20,0.2);
$red-color:#E50914;
$red-hover-color:#cc0812;
$gray-color:rgba(109,109,110,.7);

