@import "./colorVariables.module.scss";
.active{
    color: $red-hover-color;
}
.Nav{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 1rem 4.25vw;
    position: fixed;
    top: 0;
    line-height: 1.2;
    text-align: center;
    align-items: center;
    z-index: 600;
    background-image: $nav-bg-color ;
    .logo{
        display: flex;
        justify-content: space-between;
        text-align: center;
        align-items: center;
        width:1rem;
        height:1rem;
        
    }
    .navOptions {
        padding: 0 20px;
        position:fixed;
        inset: 0;
        min-height:100vh;
        height: 100%;
        width: 100%;
        display:flex;
        display: none;
        flex-direction:column;
        align-items:center;
        justify-content:center;
        background-color:rgba(0,0,0,0.65);
        box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        .navItem{
            font-size: 1.125rem;
            font-weight: 200;
            padding: 1rem 15px;
            text-decoration: none;
            color:$font-color;
            transition: color 0.2s ease-in-out;
            &__active{
                color:$red-hover-color;
            }
            &:hover{
                color: $nav-hover;
            }
        }
    }
    .navOptionsDropDown{
        color:$white-color;
        display:flex;
        align-items:flex-start;
        cursor:pointer;
        &__icon{
            margin-left:0.5rem;
        }
    }
    .userLogo {
        height: 2rem;
        width:2rem;
        background: transparent;
        z-index: -1;
    }
}

@media screen and (min-width:1024px){
    .Nav{
        .navOptions{
            display:flex;
            position: relative;
            inset: unset;
            min-height:min-content;
            flex-direction:row;
            justify-content: flex-start;
            background-color:unset;
            -webkit-backdrop-filter: blur(0px);
            backdrop-filter: blur(0px);
            box-shadow: none;
        }
        .navOptionsDropDown{
            display: none;
        }
    }
}